/*Rresert*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Caeçalho site*/
header{
	display: flex;
	justify-content: space-between; /*Eixo Horizontal*/
	align-items: center;
	padding: 15px;
}

/*Nav-bar*/
nav ul{
	display: flex;
	gap: 20px;
	list-style: none;
}


/*Corpo do site*/
.conteudo{
	display: flex;
	gap: 20px;
	padding: 20px;
}
article{
	flex: 3;
}

aside{
	flex: 1;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	padding: 15px;

}
footer span{
	color: cadetblue;
}
footer span a:hover{
	color: brown;
}

@media screen and (max-width: 600px)

{
	header{
		flex-direction: column;
	}
	.conteudo{
		flex-direction: column;
	}
}

