/*Rresert*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}


header nav a:hover{
	color: brown;
}


/*Cabeçalho*/
.logo{
	font-size: 45px;
	color: brown;
}


/*Nav-bar*/
nav ul{
	display: flex;
	gap: 20px;
	list-style: none;
}


/*Corpo do site*/
article{
	display: flex;
	gap: 20px;
	padding: 20px;
}
article h2{
	flex: 3;
	color: black;
}


aside{
flex: 1;
background-color: #eee;
padding: 10px;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	padding: 15px;

}
footer span{
	color: cadetblue;
}
footer span a:hover{
	color: brown;
}



@media screen and (max-height: 600px){
	header{
	display: flex;
	flex-direction: column;
	}
	.corpo-site{
		background-color: brown;
		color: aliceblue;
	}
}