/*AqGoEs | Dev */

/*Resert*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos Gerais*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

.navbar{
    display: flex;
    justify-content: space-between; /*Elemntos H logo do lado esquerdo é os itens do meni u vão ficar na dirreita */
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
.menu a{
    margin: 5px;
    color: #000;
    text-decoration: none;
}

.hero{
    height: 60vh;
    background: linear-gradient(135deg, #0077ff, #00c6ff);
    color: #fff;

    display: flex;
    flex-direction: column; /*Ao colcoar o flex direction colunas todos os elemntos html h2. p button vão fica um embaixo do outro Direção como colunas, por padrão os flex são row linhas*/
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero button{

    margin-top: 1rem;
    padding: 0.7rem 5rem;
    border: none;
    border-radius: 15px ;
    background: #ffff;
    color: #0077ff;
    cursor: pointer;
}
.hero button:hover{
    color: #fff;
    background-color: #3333338a;
}

/*Seção dos cads*/
section{
    padding: 3rem 2rem;
}
/*Cards dos serviços*/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card{
    background: #f4f4f4;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
}
form{
    max-width: 400px;
    margin-top: 1rem;
}

/*Todos todos os inpus que estão dentro da tab form a virgula separa os mesmo estilos dentro da tag form é textarea*/
form input,
form textarea{
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

/*Footer*/
footer{
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
