{% extends 'blog/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h2>Últimos Posts</h2>
    
    {% for post in posts %}
    <article class="post">
     <h3>
       
        <a href="{% url 'post_detalhe' post.id %}">
             {{ post.titulo }}
        </a>
    </h3>

        <p>{{ post.resumo }}</p>

        <a class="leia_mais" href="{% url 'post_detalhe' post.id %}">Leias mais..</a>
    </article>
 {% empty %}
 <p>Nenhum post encontrado.</p>
 {% endfor %}

{% endblock %}