{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="cards-container"><!--Cards container--> 
    {% for post in posts %}
    <div class="card">
        <div class="box-img"><!--Imagem é totulo do posts-->
            <img src="{% static 'blog/img/image.png' %}" alt="{{ post.titulo  }}">
        </div>  
        
        <div class="content"><!--Conteudo -->
            <h2>{{ post.titulo }}</h2>
            <p>
                {{ post.resumo }}
            </p>

            <a href="{% url 'post_detalhe' post.id %}" class="read-more">Leia mais</a>
        </div>
    </div>
   
 {% empty %}
    <p>Nenhum post encontrado.</p>
 {% endfor %}
 </div><!--Finalizadno container cards-->
{% endblock %}