{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ post.titulo }}{% endblock %}

{% block content %}

<article class="post-detalhe-container">
    <div class="post-detalhe-card">

        {% if post.imagem %}
            <img src="{{ post.imagem.url }}" alt="{{ post.titulo}}">
        {% else %}
              <img src="{% static 'blog/img/image.png' %}" alt="{{ post.titulo }}">
        {% endif %}
        <h2>{{ post.titulo }}</h2>
        <small>
            Publicado em {{ post.data_criacao|date:"d/m/y H:I" }}
        </small>

        <p>{{ post.conteudo }}</p>
    </div>
</article>
<a href="{% url 'home' %}" class="voltar">← Voltar para a página inicial</a>
{% endblock %}